

/* navbar css starts here  */


.navbar-brand{
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    color: rgb(14, 15, 15) !important;
}

.nav-link{
    margin: 5px;
    color: rgb(30, 34, 30)!important;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover{
    border-radius: 0.5rem;    
    background-color: #55e292;    
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    
    background-color: #a0dee9!important;
    color: #3eb1e7!important;
    border-radius: 0.5rem;    
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color:yellow!important;
    color: #24292e!important;
    border-radius: 0.5rem;   

}


/* footer starts here */

footer{
    
    background-color:  rgb(80, 170, 230);
    
    justify-content: center;
}

.social-icons li{
    
    display: inline;
    padding: 0.5rem;
    
}

.github{
    color: #0d0e0f;
}

.linkedin{
    color: #310ae0;
}
.youtube{
    color: #f02607;
}